.footer-area{
    background: #f8fafe;
    .footer-logo{
        margin-bottom:40px;
    }
    .footer-pera{
        & p{
            color:#868c98;
            padding-right: 125px;

            @media #{$laptop}{
                padding-right: 138px;
            }
            @media #{$lg}{
                padding-right: 95px;
            }
            @media #{$md}{
                padding-right: 13px;
            }
            @media #{$sm}{
                padding-right: 80px;
            }
            @media #{$xs}{
                padding-right: 30px;
            }
            font-size: 16px;
            margin-bottom: 50px;
            line-height: 1.8;
        }
        &.footer-pera2 p{
            padding: 0;
        }
    }
    .footer-tittle{
        & h4{
            color: #012f5f;
            font-size: 20px;
            margin-bottom: 29px;
            font-weight: 500;
            text-transform: capitalize;
        }
        & ul{
            & li{
                color: #012f5f;
                margin-bottom: 15px;
                & a{
                    color: #868c98;
                    font-weight: 300;
                    &:hover{
                        color: $theme-color;
                        padding-left: 5px;
                    }
                   
                }
            }
        }
    }
    
    .footer-form{
        margin-top: 40px;
        & form{
            position: relative;
            & input{
                width: 100%;
                height: 43px;
                padding: 10px 20px;
                border: 1px solid #fff;
            }
            & .form-icon{
                & button{
                    position: absolute;
                    top: 0;
                    right: 0;
                    background: none;
                    border: 0;
                    cursor: pointer;
                    padding: 13px 22px;
                    background:$theme-color;
                    line-height: 1;
                }
            }
        }
    }
    .info.error {
        color:  $theme-color;
    }
    .footer-social{
        & a{
           & i{
            color: #222222;
            margin-right: 12px; 
            font-size: 19px;
            @include transition(.4s);
            &:hover{
                color: $theme-color;
                box-shadow: 0 -3px 0 0 rgba(24,24,24,.15) inset, 0 3px 10px rgba(0,0,0,0.3);
                -webkit-transform: translateY(-3px);
                -moz-transform: translateY(-3px);
                -ms-transform: translateY(-3px);
                transform: translateY(-3px);
            }
          
           }
        }
    }
}

//copy Right 
.footer-bottom-area {
    background: #f8fafe;
    .footer-border{
        border-top: 1px solid #d3e5fd;
        padding: 40px 0px 23px;
        @media #{$xs}{
            padding: 35px 0px 20px;
        }
    }
    .footer-copy-right{
        & p{
            color: #888888;
            font-weight: 300;
            font-size: 16px;
            line-height: 2;
            margin-bottom: 12px;
            & i{
                color:$theme-color;
            }
            & a{
                color: $theme-color;
                &:hover{
                    // color: #fff;
                }
                 
            }
        }
    }
}
