.safe-industery-area{
    // left
    .safe-caption{
        & h2{
            color: #2c234d;
            font-size: 50px;
            font-weight: 900;
            line-height: 1.3;
            margin-bottom: 55px;
            @media #{$lg}{
                font-size: 37px;
            }
            @media #{$xs}{
                font-size: 27px;
                margin-bottom: 40px;
            }
        }
        & .safe-pera-one{
            color: #2c234d;
            font-size: 18px;
            font-weight: 500;
            line-height: 1.5;
            margin-bottom: 36px;
            font-size: 18px;
            padding-right: 76px;
            @media #{$xs}{
                margin-bottom: 40px;
                padding-right: 5px;
            }
        }
        & .safe-pera-two{
            color: #677294;
            line-height: 1.5;
            margin-bottom: 35px;
            padding-right: 76px;
            @media #{$xs}{
                margin-bottom: 40px;
                padding-right: 5px;
            }
        }
        & .safe-pera-three{
            color: #677294;
            line-height: 1.5;
            margin-bottom: 75px;
            padding-right: 76px;
            @media #{$xs}{
                margin-bottom: 50px;
                padding-right: 5px;
            }
        }
    }
    // Right 
    .safe-caption-right{
        position: relative;
        .safe-img{
            & img{
                width: 100%;
            }
        }
        .safe-alert-box{
            position: absolute;
            left: -68px;
            bottom: 100px;
            @media #{$md}{
                left: 0px;
            }
            .safe-alert{
                padding: 50px 50px 50px 50px;
                background-repeat: no-repeat;
                background-size: cover;
                position: relative;
                overflow: hidden;
                &::after{
                    position: absolute;
                    content: "";
                    background-image: url(../img/safe_industery/arrow_bottom.png);
                    left: 0;
                    right: 0;
                    bottom: 0;
                    height: 28px;
                    background-repeat: no-repeat;
                    background-size: cover;

                     // Animated Arrow
                        animation: slide1 1s ease-in-out infinite;
                        margin-left: 0px;
                        @keyframes slide1 {
                            0%,
                            100% {
                            transform: translate(0, 0);
                            }
                            50% {
                            transform: translate(5px, 0);
                            -webkit-transform: translate(5px, 0);
                            -moz-transform: translate(5px, 0);
                            -ms-transform: translate(5px, 0);
                            -o-transform: translate(5px, 0);
                            }
                        }
                }
                & img{
                    margin-bottom: 20px;
                }
                & h4{
                    color: #fff;
                    margin-bottom: 15px;
                }
                & p{
                    color: #fff;
                    line-height: 2.2;
                }
            }
        }

    }
}